<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet"
	href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">
<title>Add Student</title>
</head>
<body>
	<nav class="navbar navbar-expand-lg navbar-dark bg-info">
		<a class="navbar-brand"> <img src="images/smslogo.jpg"
			height="70px" alt="SMS Logo" />
		</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarNav" aria-controls="navbarNav"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
			<ul class="navbar-nav">
				<li class="nav-item active"><a class="nav-link text-light"
					href="/">Home <span class="sr-only">(current)</span></a></li>
				<li class="nav-item"><a class="nav-link text-light"
					href="viewinfo">View information</a></li>
				<li class="nav-item"><a class="nav-link text-light"
					href="updateinfo">Update information</a></li>

			</ul>
		</div>
	</nav>
	<form action="/addStudent" method="POST">

		<div class="  container "
			style="position: relative; padding: 5% 5%; margin-top: 5%; background-color: rgba(156, 9, 9, 0.619)">
			<h3 style="text-align: center; color: #005757;">Add Student
				Detail</h3>
			<br>

			<div class="input-group mb-3">
				<div class="input-group-prepend font-italic">
					<span class="input-group-text" id="basic-addon2">Enter
						Student Id</span>
				</div>
				<input type="text" class="form-control font-italic" name="kodId"
					placeholder="Student Id" aria-label="Username"
					aria-describedby="basic-addon2" required>
			</div>

			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text font-italic" id="basic-addon1">Enter
						Student Name</span>
				</div>

				<input type="text" class="form-control font-italic" name="sname"
					placeholder="Student Name" aria-label="Username"
					aria-describedby="basic-addon1" required>
			</div>


			<div class="input-group mb-3">
				<div class="input-group-prepend">
					<span class="input-group-text font-italic" id="basic-addon3">Enter
						Student Branch</span>
				</div>
				<input type="text" class="form-control font-italic" name="branch"
					placeholder="Student Branch" aria-label="Username"
					aria-describedby="basic-addon3" required>
			</div>

			<button type="submit"
				class="btn  btn-inline-danger btn-outline-success">Add
				Student</button>
		</div>
	</form>

</body>
</html>